<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/gui.css">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5P87ZXNFDJ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        // $("html, body").animate({
        //                 scrollTop: $(
        //                   'html, body').get(0).scrollHeight
        //             }, 2000);
        gtag('config', 'G-5P87ZXNFDJ');
    </script>
</head>
<body >
    {% block content %}{% endblock %}
    <script src="../static/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
</body>
</html>